/*=================== Default styles ====================*/

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html body ._container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

@supports (-webkit-appearance:none) {}

/*=======================================================*/


/*==================== Main styles ======================*/

/*----------------------- Mixins ------------------------*/

.mixin_font_default {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mixin_font_medium {
  font-family: 'PF Encore Sans Pro';
  font-weight: 300;
  font-style: normal;
}

.mixin_font_large {
  font-family: 'PF Encore Sans Pro';
  font-weight: 500;
  font-style: normal;
}

.mixin_font_bold {
  font-family: 'PF Encore Sans Pro';
  font-weight: 800;
  font-style: normal;
}

/*-------------------------------------------------------*/

/*----------------------- Styles ------------------------*/

.main-block {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 1260px;
}

.main-block .arrowDown {
  font-size: 30px;
  text-decoration: none;
  color: #fc635e;
  border: 2px solid #fc635e;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.main-block .arrowDown:hover {
  background: #fc635e;
  color: white;
}

.main-block a.btn {
  font-family: 'PF Encore Sans Pro';
  font-weight: 300;
  font-style: normal;
  color: #fc635e;
  text-decoration: none;
  font-size: 22px;
  border: 2px solid #fc635e;
  padding: 12px 28px;
  border-radius: 8px;
}

.main-block a.btn:hover {
  background: #fc635e;
  color: white;
  transition: 0.3s;
}

.main-block .header-block .mainText {
  margin-top: -100px;
}

.main-block .header-block .arrowDown {
  margin-top: 100px;
  margin-bottom: 0;
}

.main-block .mainText {
  text-align: center;
}

.main-block .mainText h1,
.main-block .mainText h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}

.main-block .mainText h1 span,
.main-block .mainText h2 span {
  color: #fc635e;
}

.main-block .mainText h2 {
  font-family: 'PF Encore Sans Pro';
  font-weight: 800;
  font-style: normal;
}

.main-block .mainText p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: auto;
  font-size: 22px;
  margin-bottom: 45px;
}

.main-block .main_header {
  font-family: 'PF Encore Sans Pro';
  font-weight: 500;
  font-style: normal;
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 2px solid #868686;
  margin: 0 0 20px 0;
  padding: 10px 0;
}

.main-block .main_header span {
  color: #fc635e;
}

.main-block .header-block {
  background: url('../img/background.png') no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 830px;
  width: 100%;
  max-width: 1260px;
  justify-content: space-around;
}

.main-block .header-block nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -50px;
}

.main-block .header-block nav>a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.main-block .header-block nav>a img {
  padding-right: 15px;
  vertical-align: middle;
}

.main-block .header-block nav .logo:hover img {
  opacity: .7;
}

.main-block .header-block nav menu {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

.main-block .header-block nav menu li {
  padding-left: 15px;
}

.main-block .header-block nav menu li a {
  font-family: 'PF Encore Sans Pro Thin';
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.main-block .header-block nav menu li a:hover {
  color: #fc635e;
  border-bottom: 5px solid #fc635e;
  padding-bottom: 3px;
}

.main-block .recive {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  background: white;
  padding: 0px 50px 10px 50px;
  color: #868686;
}

.main-block .recive>p {
  font-family: 'PF Encore Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  max-width: 800px;
  margin: 0px 20%;
  margin-bottom: 50px;
}

.main-block .icons {
  display: flex;
  margin-bottom: 20px;
}

.main-block .icons h4 {
  font-family: 'PF Encore Sans Pro';
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.main-block .icons .line_bottom {
  margin: auto;
  max-width: 60px;
  border-bottom: 2px solid #868686;
}

.main-block .icons p {
  font-family: 'PF Encore Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

.main-block .icons div {
  padding: 15px;
}

.main-block .expand {
  padding: 100px 150px 30px 150px;
  background: url('../img/expand.png') no-repeat;
  margin-bottom: 50px;
}

.main-block .expand .mainText {
  padding: 50px 0 100px;
  margin-bottom: 60px;
  border: 15px solid rgba(255, 255, 255, 0.1);
}

.main-block .our_process .back_process {
  min-height: 390px;
  width: 100%;
}

.main-block .our_process .back_process img {
  width: 100%;
  height: auto;
}

.main-block .wedo_1 {
  padding: 100px 150px 30px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  margin-bottom: 0;
}

.main-block .wedo_1>div {
  display: flex;
  text-align: left;
  margin-bottom: 30px;
}

.main-block .wedo_1 h4 {
  font-family: 'PF Encore Sans Pro';
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 20px;
  border-left: 7px solid #fc635e;
  padding-left: 7px;
}

.main-block .wedo_1 p {
  font-family: 'PF Encore Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: #9e9898;
  padding-bottom: 30px;
  line-height: 25px;
}

.main-block .wedo_1 .left,
.main-block .wedo_1 .right {
  width: 50%;
}

.main-block .wedo_1 .right {
  text-align: center;
}

.main-block .we_made {
  background: white;
}

.main-block .we_made .right {
  order: 0;
  text-align: left;
}

.main-block .we_made .left {
  order: 1;
  text-align: right;
}

.main-block .we_made .left h4 {
  font-size: 20px;
  border: none;
  border-right: 7px solid #fc635e;
  padding-right: 7px;
}

.main-block .portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}

.main-block .portfolio .btn {
  margin: 40px 0;
}

.main-block .portfolio .controls hr {
  color: #adadad;
}

.main-block .portfolio .controls {
  margin-bottom: 30px;
}

.main-block .portfolio .controls,
.main-block .portfolio .controls button {
  padding: 10px 50px 10px 50px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
}

.main-block .portfolio .controls button {
  font-family: 'PF Encore Sans Pro';
  font-weight: 300;
  font-style: normal;
  color: #fc635e;
  background: transparent;
  border: none;
  text-transform: uppercase;
}

.main-block .portfolio .controls button:hover {
  color: #e44640;
  text-decoration: underline;
  cursor: pointer;
}

.main-block .portfolio .container-filter {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-block .portfolio .container-filter #ex1 {
  background-image: url('../img/portfolio/1.png');
}

.main-block .portfolio .container-filter #ex2 {
  background-image: url('../img/portfolio/2.png');
}

.main-block .portfolio .container-filter #ex3 {
  background-image: url('../img/portfolio/3.png');
}

.main-block .portfolio .container-filter #ex4 {
  background-image: url('../img/portfolio/4.png');
}

.main-block .portfolio .container-filter #ex5 {
  background-image: url('../img/portfolio/5.png');
}

.main-block .portfolio .container-filter #ex6 {
  background-image: url('../img/portfolio/6.png');
}

.main-block .portfolio .container-filter div {
  background-size: cover;
  background-position: center center;
  margin: 10px;
  width: 250px;
  height: 180px;
}

.main-block .portfolio .container-filter div .fil {
  display: none;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin: 0;
  background: url('../img/portfolio/plus.png') rgba(255, 72, 72, 0.75);
  background-position: center;
  background-repeat: no-repeat;
}

.main-block .portfolio .container-filter div .fil p {
  font-family: 'PF Encore Sans Pro';
  font-weight: 800;
  font-style: normal;
  margin: 0;
  padding: 10px;
}

.main-block .portfolio .container-filter div:hover .fil {
  display: block;
  cursor: pointer;
}

.main-block .our_team {
  background: #f2f2f2;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

.main-block .our_team .recive {
  background: #f2f2f2;
}

.main-block .our_team .recive .man {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main-block .our_team .recive .man .contacts {
  margin: 50px 20px;
  min-width: 200px;
}

.main-block .our_team .recive .man .contacts .main_header {
  font-family: 'PF Encore Sans Pro';
  font-weight: 500;
  font-style: normal;
  display: block;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: bold;
  border: none;
  margin-top: 10px;
  margin-bottom: 0;
}

.main-block .our_team .recive .man .contacts p {
  font-family: 'PF Encore Sans Pro';
  font-weight: 300;
  font-style: normal;
  margin-top: 0;
}

.main-block .our_team .recive .man .contacts .fa-stack {
  font-size: 20px;
  color: #565656;
}

.main-block .our_team .recive .man .contacts .fa-stack:hover {
  color: #fc635e;
}

/*-------------------------------------------------------*/

/*=======================================================*/